{% extends 'base.html'%}
{%block title%}{{boards.name}} {%endblock%}
{%block breadcrumb%}

    <li class="breadcrumb-item "><a href="{% url 'home' %}" >Topic</a></li>
      <li class="breadcrumb-item active">{{boards.name}}</li>
{%endblock%}
{%block content%}
<a href="{%url 'new_topic' boards.pk%}" class="btn btn-primary">add new topic</a>
<table class="table">
    <thead class="thead-dark">
    <tr>
      <th> Topic</th>
        <th> created by</th>
        <th> Posts</th>
        <th> Views</th>
        <th> date</th>
    </tr>
    </thead>
    <tbody>
    {%for topic in boards.topics.all%}
    <tr>
        <td>{{ topic.subject}}</td>
         <td>{{ topic.created_by.username}}</td>
         <td>0</td>
        <td>0</td>
        <td> {{topic.created_dt}}</td>
    </tr>
    {%endfor%}
    </tbody>

</table>
{%endblock%}